/utils/wikipedia_pt.bin
/utils/portuguese-br-ud-2.0-170801.udpipe
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_20.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_9.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_25.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_17.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_11.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_12.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_3.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_21.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_8.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_24.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_16.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_23.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_7.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_4.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_1.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_5.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_6.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_22.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_26.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_13.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_19.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_10.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_14.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_15.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_18.bin
/data/comentarios_folha_bottom/binary/comentarios_folha_bottom_eleicao_processados_2.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_5.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_7.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_6.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_3.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_12.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_4.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_1.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_11.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_10.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_9.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_2.bin
/data/noticias_folha/binary/noticias_eleicao_folha_processados_8.bin
/data/noticias_folha/noticias_eleicao_folha.csv
/data/noticias_folha/noticias_eleicao_folha_processados.csv
/data/comentarios_folha_top/comentarios_folha_top_eleicao.csv
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_15.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_17.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_13.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_6.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_2.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_8.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_16.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_9.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_11.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_12.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_4.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_7.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_5.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_1.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_10.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_14.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_18.bin
/data/noticias_estadao/binary/noticias_eleicao_estadao_processados_3.bin
/data/noticias_estadao/noticias_eleicao_estadao_processados.csv
/data/noticias_estadao/noticias_eleicao_estadao.csv
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_4.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_7.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_1.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_8.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_6.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_12.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_10.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_5.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_9.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_13.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_3.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_2.bin
/data/comentarios_folha/binary/comentarios_folha_eleicao_processados_11.bin
/data/comentarios_folha/comentarios_folha_eleicao.csv
/data/comentarios_folha/comentarios_folha_eleicao_processados.csv
/embeddings/Comentario-FOLHASP-2014-12-30-2014-01-02.bin
/embeddings/ESTADAO-2014-12-30-2014-01-02.bin
/embeddings/FOLHASP-2014-12-30-2014-01-01.bin
/embeddings/.csv
/WEAT-WMD-comparison/history.RData
